.test-container {
  padding: 30px;
  margin: 0 auto;
  background-color: aqua;

  @media screen and (min-width:768px){
    width: 768px;
  }
    @media screen and (min-width:1200px){
    width: 1200px;
    background-image: url(./images/section-bg-lg.jpg);
  }
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
// .flex-list {
//   list-style: none;

// }
// .flex-item {
//   list-style-type: none;
// }